<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap"
            rel="stylesheet"
        />

        <link
            href="{{ url_for('static', filename='css/output.css') }}"
            rel="stylesheet"
        />

        <title>
            {% block title %}Sistem Pakar Evaluasi Risiko Kredit{% endblock %}
        </title>
    </head>
    <body class="bg-slate-50 text-slate-800 antialiased">
        <div class="min-h-screen flex flex-col items-center justify-center p-4">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
